<template>
    <div class="posts">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
									<div class="card">
										<div class="card-header">
											TAMBAH POST
										</div>
										<div class="card-body">
											<form @submit.prevent="PostCreate">
												<div class="form-group">
													<label>TITLE</label>
													<div v-if="Success" class="alert alert-success" role="alert">
														{{ Pesan }}
													</div>
													<div v-if="validation.length > 0" class="alert alert-danger">
														<ul>
															<li v-for="(error, index) in validation" :key="index">
																{{ error }}
															</li>
														</ul>
													</div>
													<input type="text" class="form-control" v-model="input.title" placeholder="Masukkan Title">
													<!-- <div v-if="validation.title">
														<div class="alert alert-danger mt-1" role="alert">
															{{ validation.title[0] }}
														</div>
													</div> -->
												</div>

												<div class="form-group">
													<label>KONTEN</label>
													<textarea class="form-control" v-model="input.konten" rows="5" placeholder="Masukkan Konten"></textarea>
													<!-- <div v-if="validation.konten">
														<div class="alert alert-danger mt-1" role="alert">
															{{ validation.konten[0] }}
														</div>
													</div> -->
												</div>
												<div class="form-group">
													<label>STATUS</label>
													<v-select :options="statusList" placeholder="-- Pilih Status --" v-model="input.status"></v-select>
												</div>
												<button type="submit" class="btn btn-md btn-success mr-2">SIMPAN</button>
												<button type="button" v-on:click="Reset" class="btn btn-md btn-danger">RESET</button>
												<router-link class="btn btn-md btn-warning ml-2" to="/">BACK</router-link>
											</form>
										</div>
									</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
		import axios from 'axios'

		export default {
			data(){
				return {
					rows: 10,
					input: {
						title: '',
						konten: '',
						status: '',
					},
					validation: [],
					Success : false,
					Pesan: '',
					statusList: [
						{
							label: 'Aktif',
							value: 'bisa di baca',
						},
						{
							label: 'Tidak Aktif',
							value: 'Tidak bisa dibaca',
						}
					]
				}
			},
			methods: {
				Reset(){
					this.input = {}
					// this.input.konten = ''
				},
				PostCreate(){
					// console.log(this.input)
					axios.post('http://localhost:8000/api/buku/add', {
						...this.input,
						status: this.input.status.value
					})
					.then((response) => {
						// this.$router.push({
						// 	name: 'posts'
						// });
						// console.log(response);
						if(response.data.status) {
							this.Success = true
							this.validation = []
							this.Pesan = 'Sukses di tambahkan'
							this.input = {}
						}

					}).catch(error => {
						const errors = error.response.data.error;
						this.validation = []
						this.Success = false
						Object.keys(errors).map(index => {
							// console.
							this.validation.push(errors[index][0])
						})
					})
				}
			}
    }
</script>
