<template>
    <div class="posts">
        <div class="container mt-5">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									EDIT POSTS
								</div>
								<div class="card-body">
									<form @submit.prevent="PostUpdate">
										<div class="form-group">
											<label>TITLE</label>
											<input type="text" class="form-control" v-model="databuku.title" placeholder="Masukan Title">
											<!-- <div v-if="validation.title">
												<div class="alert alert-danger mt-1" role="alert">
													{{ validation.title[0] }}
												</div>
											</div> -->
										</div>
										<div class="form-group">
											<label>KONTEN</label>
											<textarea class="form-control" v-model="databuku.konten" rows="5" placeholder="Masukan Konten"></textarea>
											<!-- <div v-if="validation.content">
												<div class="alert alert-danger mt-1" role="alert">
													{{ validation.content[0] }}
												</div>
											</div> -->
										</div>
										<div class="form-group">
											<label>STATUS</label>
											<v-select :options="statusList" placeholder="-- Pilih Status --" v-model="databuku.status"></v-select>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-md btn-success mr-2">UPDATE</button>
											<button type="reset" v-on:click="Bersih" class="btn btn-md btn-danger">RESET</button>
											<router-link class="btn btn-md btn-warning ml-2" to="/">BACK</router-link>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
    </div>
</template>

<script>
	import axios from 'axios'

  export default {
		data() {
			return {
				databuku: {},
				validation: [],
				bersih: {
					title: '',
					konten: '',
					status: '',
				},
				statusList: [
					{
						label: 'Aktif',
						value: 'Bisa di baca',
					},
					{
						label: 'Tidak Aktif',
						value: 'Tidak bisa dibaca',
					}
				]
			}
		},
		computed: {
			id_buku(){
				return this.$route.params.id
			}
		},
		created() {
			// console.log(this.id_buku)
			this.GetDetail()
			// axios.get('http://localhost:8000/api/buku/${this.$route.params.id}')
			// 	.then((response) => {
			// 		this.post = response.data.data;
			// 	});
		},
		methods:{
			Bersih(){
				this.bersih = {}
				// this.input.konten = ''
			},

			GetDetail(){
				axios.get(`http://localhost:8000/api/buku/detail/${this.id_buku}`)
					.then((response) => {
						const data = response.data.data
						this.databuku = {
							...data,
							status: this.statusList.find(l => {
								return l.value == data.status 
							}) 
						}
					})
			},

			PostUpdate(){
				axios.post(`http://localhost:8000/api/buku/update/${this.id_buku}`,this.databuku)
					.then((response) => {
						this.$router.push({
							name: 'posts'
						});
						console.log(response);
					}).catch(error => {
						this.validation = error.response.data.data;
					});
			}
		}
  }
</script>
