<template>
    <div class="posts">
        <div class="container mt-12">
            <div class="row jusrify-content-center">
                <div class="col-md-8 offset-2">
                    <div class="card">
                        <div class="card-header">
                            POSTS
                        </div>
                        <div class="card-body">
                            <router-link :class="['btn btn-md btn-success mb-2']" to="/create">TAMBAH POST</router-link>
                            <hr>
                            <div class="table-responsive mt-2">
                                <table class="table table-hover table bordered">
                                    <thead>
										<tr>
										<th>TITLE</th>
										<th>KONTEN</th>
										<th>AKSI</th>
									</tr>
                                    </thead>
									<tbody>
										<tr v-for="post in posts" :key="post.id">
											<td>{{ post.title }}</td>
											<td>{{ post.konten }}</td>
											<td class="text-center">
													<router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-sm btn-primary mr-2">EDIT</router-link>
													<button @click.prevent="PostDelete(post.id)" class="btn btn-sm btn-danger">HAPUS</button>
											</td>
										</tr>
									</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import axios from	'axios'

	export default {
		data(){
			return {
				posts: []
			}
		},
		created() {
			this.getData()
		},

		methods: {
			getData() {

				axios.get('http://localhost:8000/api/buku'	).then(response => {
					this.posts = response.data.data
				})
			},

			PostDelete(id) {
				axios.delete(`http://localhost:8000/api/buku/delete/${id}`)
					.then(response => {
						this.posts.splice(this.posts.indexOf(id), 1);
						console.log(response);
					}).catch(error => {
						console.log(error.response);
					});
			}
		}
	}

</script>
